<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Movies Mania </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <script src=
        "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
              

    
    </head>

    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{url_for('home')}}">Movie Mania</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#!">Action</a></li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{url_for('search_results' , Moviequery = 'action')}}">Action</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{{url_for('search_results' , Moviequery = 'comedy')}}">Comedy</a></li>
                                <li><a class="dropdown-item" href="{{url_for('search_results' , Moviequery = 'romantic')}}">Romantic</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" action = "/search">
                        <input class="form-control me-2" type="search" required placeholder="Search" aria-label="Search" name="Moviequery">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                </div>
            </div>
        </nav>



        
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">{{page_name}}</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Get Information Of All Latest Movies At One Place</p>
                    <div class="row text-center">
                        <form action="/search" method="get">
                    <div class="input-group py-5  col-12" >
                        <input type="text" class="form-control" placeholder="Search Your Movie Any Movie Name" value="{{query}}" name="Moviequery" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <input class="btn btn-primary" type="submit" ></button>
                        </div>
                      </div>
                    </form>

                    </div>
                </div>

              
               
            </div>
           
          
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-1 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                   
                   {% for movie in movieList %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{movie['Poster']}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{movie['Title']}}</h5>
                                    <!-- Product price-->
                                    {{movie['Type']}} || {{movie['Year']}}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.imdb.com/title/{{movie['imdbID']}}/">More Details</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Developed by : Himanshu Yadav</p></div>
        </footer>



      

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
